#learnPage{
    height: 100vh;    
    display: flex;
    overflow-y: auto;
    justify-content: flex-start;
    background: linear-gradient(#e66465, #9198e5);
}

#main{
    width: 100vw;
    margin: 0.5%;
    overflow-y: auto;
    background-color: white;
}

#sidebar{
    height: 100vh;
    display: flex;
}

#info{
    padding: 2%;
    display: block;
}

#dropdownMenu{
    width: 50%;
}