.navbar{
    background: #27259B;
    height: 15%;
    box-shadow: 0 4px 2px -2px gray;
    position: relative;
}

.logoBox{
    float: left;
    background: #27259B;
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 65px;
    width: 120px;
}

.navTextBox{
    background-color: #27259B;
    width: 71%;
    height: 100%;
    display: inline-block;
    align-items: center;
}

.headerText{
    display: inline-block;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
    font-size: 20;
    padding: 18px;
    color: #FFFFFF;
}

.languageSelection{
    width: 16%;
    height: 100%;
    display: inline-block;
    align-items: right;
}
